@use 'breakpoints' as *;

.wrapper {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    @include tablet {
        padding: 6rem;
    }
    @include desktop {
        padding: 12rem;
    }
}
